* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}
body{
  background-color: #F8F8FF;
}

.p-10px{
  padding: 10px;
}
.p-12px{
  padding: 12px;
}
.l-space{
  letter-spacing: .5px;
}
.pointer{
  cursor: pointer;
}

/* in overlaySearch component */
.custom-focus:focus {
  outline: none;
  /* Remove default outline */
  box-shadow: 0 0 0 0.2rem rgba(39, 203, 224, 0.25);
  /* Add custom outline */
  border-color: #00AFB8;
  /* Change border color */
}
.fs-14px{
  font-size: 14px;
}
.fs-15px{
  font-size: 15px;
}
.theme-bg-color{
  background-color: #00aeb7;
  color: rgb(255, 255, 255);
}
.theme-color{
  color: #00aeb7;
}
/* end */




#footer {
  color: white;
  padding: 30px;
  background-color: #005e63;
}

.upperPart {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.footerlink {
  color: rgb(208, 203, 203);
  display: block;
  margin: 10px 0;
}

.footerlink:hover {
  color: rgb(237, 239, 240);
  text-decoration: underline;
  text-underline-offset: 2px;
}

input[type=email] {

  padding: 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
}

.social {
  padding: 40px;
  text-align: center;
}

.sociallink {
  text-decoration: none;
  color: aliceblue;
  margin: 10px;
  font-size: x-large;
}

.sociallink:hover {
  color: rgb(199, 201, 204);
}